.form-container {
    width: 500px;
    height: 700px;
    margin: 20px auto;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 40px;
    box-shadow: -10px 10px #FFE0B3;
}

.form-control label {
    display: block;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    margin-bottom: 10px;
    color: #2A414F;
}

.form-control input {
    width: 415px;
    height: 55px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 1.5em;
    margin-bottom: 20px;
}

.form-title {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    letter-spacing: 0.0025em;
    color: #2A414F;
    text-align: center;
}

.btn-login {
    width: 415px;
    height: 55px;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    border: none;
    margin-top: 40px;
}
.btn-login:hover{
    background: rgba(133, 101, 50, 0.3);
}